.selling-phone
{
     background-image: url('../images/best-selling-phone.jpg');
     background-size: cover;
}

.mybg
{
    background-color: #f5f5f5;
}

.myfont
{
    font-size: 13px;
}
